# Binaries
bin/*

# Guest Resources (Kernels, Images, Drives)
resources/*

# Sockets and Logs
*.socket
*.log

# System/Environment
.env

# Rust / Cargo
target/
**/*.rs.bk
Cargo.lock

**/node_modules/*
storage/
*.tar.gz
.claude/
